spring:
    datasource:
      url: jdbc:mysql://127.0.0.1:3306
      username: root
      password: root
      driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
      hibernate:
        ddl-auto: create-drop
      show-sql: true
      properties:
        hibernate:
          format-sql: true
        database: mysql
        database-platform: org.hibernate.dialect.MySQL8Dialect
